@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
html,body { width:100%; height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
body,h1,h2,h3,h4,input,button { font-size:12px; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; }
table { border-collapse:collapse; }


/* base */
body { color:#fff; font:16px/21px "Noto Sans KR";}
a { text-decoration:none; color:#ffffff; }



/*layout*/
  header{
    z-index: 10;
    position: relative;
    background:#000;
  }
  header .inner{
    margin:auto; 
    max-width: 1240px; 
    height: 110px; 
  }
  
  h1 {position: absolute;
    top: 42px;
  }
  .gnb_btn{
    cursor: pointer; 
    display: none; 
    position: absolute; 
    right: 0; 
    bottom: 0;
  }
  .gnb_list{
    float:right; 
    line-height: 6.5;
  }
  .gnb_list li{
    display: inline-block;
  }
  .gnb_list li a{
    text-decoration:none;
    color: #fff;
  }
  .gnb_list li a:hover{
    color: #daa520;
  }
  
  .gnb_list li:nth-child(1){
    display: inline-block; 
    padding-right: 40px;
  }
  .gnb_list li:nth-child(2){
    display: inline-block; 
    padding-right: 40px;
  
  }
  .gnb_list li:nth-child(3){
    display: inline-block; 
    padding-right: 267px;
  }
  /* .gnb_list li:nth-child(5){
    display: inline-block; 
    padding-right: 40px;} */
  .gnb_list li:nth-child(4){
    display: inline-block; 
    padding-left: 80px;
  }
  .gnb_list li img{
    vertical-align: middle; 
    margin: 0 10px 0 10px;
  }
  
  
  
  html, body {
    overflow: hidden;
  }
  
  .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  }
  .background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .background:first-child {
    /* opacity: 0.5; */
    transform: translateY(-15vh);
  }
  .background:first-child .content-wrapper {
    transform: translateY(15vh);
  }
  .background:nth-child(2) {
    background-image: url(../images/background1_1.jpg);
    /* opacity: 0.5; */
  }
  
  .background:nth-child(3) {
    background-image: url(../images/background2.jpg);
    /* opacity: 0.5; */
  }
  
  .background:nth-child(4) {
    background-image: url(../images/background5.jpg);
    /* opacity: 0.5; */
  }
  .background:nth-child(5) {
    background-image: url(../images/background4.jpg);
    /* opacity: 0.5; */
  }
  

.text {
  z-index: 6;
  position: absolute;
  bottom:200px;
  width: 100%;
  color: #000;
  font-size: 2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text button{
  cursor: pointer;
  background-color: #ffcc00;
  color: #000;
  padding: 13px;
  border-radius: 6px;
  font-size: 1rem;
  width: 10%;
  border:none;
  outline: none;
  font-weight: bold;
}

.text button:hover{
  background-color: #000;
  color:#fff;
}


/* Set stacking context of slides */
.background:nth-child(1) {
    z-index: 6;
  }
  
  .background:nth-child(2) {
    z-index: 5;
  }
  
  .background:nth-child(3) {
    z-index: 4;
  }
  
  .background:nth-child(4) {
    z-index: 3;
  }
  .background:nth-child(5) {
    z-index: 2;
  }
  

.content-wrapper {
  height: 106vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {

  font-size: 7vh;
  line-height: 1.4;
}
.typo{
    z-index: 5;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}

video{
  z-index: 4;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px) grayscale(0.5);
}

/* footer */
#footer p{
  height: 50vh;
  padding-top: 50px;
  background-color: #000;
}

.pc{
  position: absolute;
  left: -163px;
  top: 150px;
  width: 40%;
}


/* mediaquery */


@media all and (max-width:767px) { /* μ¤λ§νΈν° */
header{height: 110px;}
h1{
    position: absolute; 
    left: 10%;
}

h1 img{

    vertical-align: middle;
    width: 55%;
}
.gnb_btn{
    display: block !important;
    right: 10% !important; 
    top: 40px;
}
.gnb_list{
  z-index: 10;
    display: none; 
    position: absolute; 
    top: 110px; 
    width: 100%; 
    z-index: 5;
    line-height: 5.5;
}
.gnb_list li{
    z-index: 10;
    padding: 0 !important; 
    width:100%; 
    background-color: rgba(0, 0, 0, 0.89); 
    text-align: center; 
    border-bottom: 1px solid #fff;
}

.gnb_list li:nth-child(5){
    padding: 0; 
    display: none;
}

.gnb_list li a{
    text-decoration:none;
    color: #fff;
}

.gnb_list li a:hover{
    color: #daa520;
}
.inner .line img{
    display: none;
}

/* intro */
.text button{
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
    padding: 8px;
    border-radius: 6px;
    font-size: 0.8rem;
    width: 25%;
    border:none;
    outline: none;
    }

video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform:translate(-50%)
    }

.content-title{
    font-size: 6vh;
    }

.content-subtitle{
  font-size: 2vh;
  font-weight: lighter;
}

}
